# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods / SPM
Pods/
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output

# Ruby (build scripts)
*.gem
.bundle/
vendor/bundle
__pycache__/
*.pyc
